<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Deleted Post</title>
  </head>
  <body>
    <h1>Deleted Post</h1>

      <div class="post">
        <h2>Post Title: <%= @post.name %></h2><br>
        <p><%= @post.content %></p>
      </div><br>


  </body>
</html>
